@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Monoton&family=Poppins&family=Roboto&family=Rouge+Script&display=swap');


/* font-family: 'Cookie', cursive;
font-family: 'Monoton', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rouge Script', cursive; */